body {
  padding: 0;
  margin: 0;
}
.backgrnd {
  width: 100%;
  background-color: #17a2b8;
  padding-bot: 10%;
}
.nav-li a {
  text-align: center;
  list-style-type: none;
  margin-left: 5%;
  color: white;
  width: 15%;
  display: inline-block;
  font-size: 1.5em;
  font-family: 'Big Shoulders Text', cursive;
}
.nav-li {
  text-align: center;
  list-style-type: none;
  margin-left: 5%;
  color: white;
  width: 15%;
  display: inline-block;
  font-size: 1.5em;
  font-family: 'Big Shoulders Text', cursive;
}
.main-title {
  font-size: 10em;
  color: white;
  font-family: 'Hepta Slab', serif;
  margin-top: 10%;
  text-align: center;
}
.border-bot {
  border-bottom: 4px solid white;
  width: 37%;
  margin-left: 33%;
}
.team-members-img {
  width: 100px;
  display: inline-block;
}
.team-members-element {
  border-bottom: 2px solid black;
  width: 30%;
  margin-left: 11%;
  display: inline-block;
  margin-right: 2%;
  margin-bottom:  2%;
}
.team-members-name {
  font-family: 'Hepta Slab', serif;
  display: inline-block;
  margin-left: 5%;
}
.description-backgrnd {
  background-color: black;
  width: 20%;
  display: inline-block;
  float: left;
}
.description-backgrnd-2 {
  background-color: black;
  width: 20%;
  display: inline-block;
  float: right;
}
.description-element {
  width: 100%;
  margin: 0;
  padding: 0;
}

.description-writing {
  color: black;
  font-family: 'Hepta Slab', serif;
  margin-left: 5%;
  line-height: 1.5em;
  float: right;
  margin-right: 5%;
  display: inline-block;
}
.description-writing-2 {
  color: black;
  font-family: 'Hepta Slab', serif;
  margin-left: 5%;
  line-height: 1.5em;
  float: left;
  margin-right: 5%;
  display: inline-block;
}
.reports-element {
  list-style-type: none;
  margin-left: 15%;
  margin-top: 5%;
  font-size: 3em;
  font-family: 'Big Shoulders Text', cursive;
}
