body {
  padding: 0;
  margin: 0;
}

.nav-li a {
  list-style-type: none;
  text-align: center;
  margin-right: 15%;
  color: white;
  font-size: 2em;
  font-family: 'Sans MS';
}
.nav-li {
  list-style-type: none;
  text-align: center;
  margin-right: 15%;
  color: white;
  font-size: 2em;
  font-family: 'Sans MS';
}

.backgrnd {
  background-color: black;
}
